
@use '@angular/material' as mat;
@use './colors.scss' as colors;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$swapi-primary: mat.define-palette(mat.$grey-palette);
$swapi-accent: mat.define-palette(mat.$yellow-palette);

// The warn palette is optional (defaults to red).
$swapi-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$swapi-theme: mat.define-light-theme((
  color: (
    primary: $swapi-primary,
    accent: $swapi-accent,
    warn: $swapi-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($swapi-theme);

/* You can add global styles to this file, and also import other style files */
body {
  .mat-mdc-card-title {
    font-size: 3em;
  }
  
  .mat-mdc-card-subtitle {
    font-size: 2.4em;
  }
  
  .mat-mdc-card-content {
    p {
      font-size: 1.6em;
    }
  }
  
  .mat-mdc-card-header {
    padding: 2em 1.6em;
    position: relative;

    &::before {
      content: '';
      height: 1px;
      width: 90%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: colors.$gray;
    }
  }
  
  .mat-mdc-card-content {
    padding: 2em 1.6em;
  }
}