.swapi {
    &__title {
        font-size: 3.4em;
        margin-bottom: 1em;
        text-align: center;
    }

    &__cards {
        display: flex;
        justify-content: space-around;
        gap: 30px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        padding-top: 3em;
    }
}

:host {
    display: block;
    z-index: 1;
    width: 100%;
}