.swapi {
    &__title {
        font-size: 3.4em;
        margin-bottom: 1em;
        text-align: center;
    }

    &__subtitle {
        font-size: 2.8em;
        text-align: center;
    }

    &__selection {
        display: flex;
        justify-content: center;
        padding: 2em 0;
    }

    &__cards {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        margin-bottom: 3.4em;

        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;

        a {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

:host {
    display: block;
    z-index: 1;
    width: 100%;
}